#Port number
PORT=3000

#Database
DB_DIALECT=mysql
DB_HOST=localhost
DB_PORT=3306
DB_USER="your username"
DB_PASS="your password"
DB_NAME=automation

#Jwt Secret
JWT_SECRET="your jwt secret"

WHATSAPP_API_CONNECT_URL="url para conexão com a api do whatsapp"
WHATSAPP_API_SEND_MESSAGE_URL="url para envio de mensagem através da api do whatsapp"